* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fight-area {
  display: flex;
  gap: 20px;
}

#char,
#monster {
  flex: 1;
}

.life-bar {
  height: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.life-bar .bar {
  height: inherit;
  background-color: #f00;
  border-radius: 5;
}

.fight-log {
  border: 1px dotted #999;
  height: 200px;
  overflow-y: scroll;
}
